version: '3.3'
services:
  rabbitmq-server:
    image: rabbitmq:3.8.1
    hostname: "rabbitmq-server"
    environment:
      RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
      RABBITMQ_DEFAULT_VHOST: "/"
    ports:
      - "15672:15672"
      - "5672:5672"

  db:
    image: mysql:8.0.20
    hostname: "mysql-server"
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_USER: fernando
      MYSQL_PASSWORD: fernando
      MYSQL_DATABASE: data.db
    volumes:
      - "./Database:/var/lib/mysql"

  db-management:
    image: adminer:4.7.6-standalone
    ports:
      - 8080:8080

  roapigateway:
    image: fernandopfh/roapigateway:teste
    depends_on:
      - rabbitmq-server
    tty: true
    ports:
      - "5000:5000"

  roadduser:
    image: fernandopfh/roadduser:teste
    depends_on:
      - rabbitmq-server
      - db
    tty: true

  rocheckuser:
    image: fernandopfh/rocheckuser:teste
    depends_on:
      - rabbitmq-server
      - db
    tty: true
      
  rosetobras:
    image: fernandopfh/rosetobras:teste
    depends_on:
      - rabbitmq-server
      - db
    tty: true

  rogetobras:
    image: fernandopfh/rogetobras:teste
    depends_on:
      - rabbitmq-server
      - db
    tty: true
      
  rosetreferencia:
    image: fernandopfh/rosetreferencia:teste
    depends_on:
      - rabbitmq-server
      - db
    tty: true

  rogetreferencia:
    image: fernandopfh/rogetreferencia:teste
    depends_on:
      - rabbitmq-server
      - db
    tty: true